In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import os
import csv

In [2]:
os.chdir('/Users/ruddysimonpour/Desktop/gun-violance/Census_data')
county17_data = pd.read_csv("Census_county_data2017.csv", parse_dates = [0], low_memory = False)

In [5]:
data17 = pd.DataFrame(county17_data)
data17.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,72,"Corozal Municipio, Puerto Rico",34933.0,38.1,14752.0,7887.0,19146.0,54.807775,9.435205
1,72,"Maunabo Municipio, Puerto Rico",11297.0,43.5,17636.0,8830.0,5945.0,52.624591,6.506152
2,72,"Peñuelas Municipio, Puerto Rico",21661.0,36.4,16868.0,7983.0,12379.0,57.148793,7.391164
3,72,"Ponce Municipio, Puerto Rico",148863.0,39.5,16561.0,10775.0,75187.0,50.507514,4.711043
4,72,"San Sebastián Municipio, Puerto Rico",38970.0,42.0,14275.0,8072.0,21472.0,55.098794,8.486015

In [9]:
data17['Name'] = data17['Name'].apply(lambda x: x.split(',')[0])

In [11]:
data17.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,72,Corozal Municipio,34933.0,38.1,14752.0,7887.0,19146.0,54.807775,9.435205
1,72,Maunabo Municipio,11297.0,43.5,17636.0,8830.0,5945.0,52.624591,6.506152
2,72,Peñuelas Municipio,21661.0,36.4,16868.0,7983.0,12379.0,57.148793,7.391164
3,72,Ponce Municipio,148863.0,39.5,16561.0,10775.0,75187.0,50.507514,4.711043
4,72,San Sebastián Municipio,38970.0,42.0,14275.0,8072.0,21472.0,55.098794,8.486015